<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoEabRZS4HpTzTRajuDS74rIY_f8dJvbg</string>
	<key>GCM_SENDER_ID</key>
	<string>650219454971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accessControlResidential.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>park-planner-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>park-planner-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650219454971:ios:b417f59cf160125252cb5e</string>
	<key>DATABASE_URL</key>
	<string>https://park-planner-mobile-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>